<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>新闻后台</title>
    {% endblock %}
  </head>


  <body>
    <!-- Your page content -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">首页</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('admin') }}">新闻后台 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('add') }}">新增 <span class="sr-only">(current)</span></a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>

    {% block content %}
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">新闻id</th>
          <th scope="col">新闻类型</th>
          <th scope="col">新闻内容</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        {% for new_obj in page_data.items %}
        <tr>
          <th scope="row">{{ new_obj.id }}</th>
          <td>{{ new_obj.news_type }}</td>
          <td>{{ new_obj.content }}</td>
          <td>
            <a class="btn btn-primary" href="{{ url_for('update',pk=new_obj.id) }}" role="button">修改</a>
            <a class="btn btn-danger" href="javascript:;" data-url="{{ url_for('delete',pk=new_obj.id) }}">删除</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        {% if page_data.has_prev %}
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
        {% endif %}
      </li>
      {% for page in page_data.iter_pages() %}
      <li class="page-item"><a class="page-link" href="{{ url_for('admin',page = page) }}">{{ page }}</a></li>
      {% endfor %}
      <li class="page-item">
        {% if page_data.has_next %}
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
        {% endif %}
      </li>
    </ul>
  </nav> 
    {% endblock %}

    <script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
    
    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    <script>
      $(function(){
        $(".btn-danger").on('click',function(){
          var _this = $(this);
          //获取请求链接
          var url = $(this).attr('data-url');
          //确认消息
          if(confirm('确认删除吗?')){
            $.post(url,function(rest){
            if(rest ==='yes'){
              _this.parents('tr').hide();
              window.location.href="{{ url_for('admin') }}"
            }else{
              alert('删除失败')
            }
          })
          }
        })
      })
    </script>
    {% endblock %}
  </body>
</html>